@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
/* importada do Google Fonts */

@font-face {
    font-family: 'Andoid';
    src: url('../fontes/idroid.otf') format('opentype'); 
    font-weight: normal;
/* fonte alocada na pasta do exercicio */
}

:root {
    /* variaveis em CSS */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    /* classe e sub-classe */
    /* after = aparece depois */
    content: '\00A0\1F517'; /* ?? */
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /* efeito degradê */
    min-height: 150px; /* altura min. */
    text-align: center; /*centraliza conteudo texto */
    padding-top: 30px; /* acolchoamento superior do h1 */

}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px; /* distancia do h1 pro texto */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    /* sombra no texto */
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;/* largura max do paragrafo */
    padding-right: 10px;/* acolchoamento dir do p */
    padding-left: 10px;/* acolchoamento esq do p */
    margin: auto;/* margem auto, centraliza texto */
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);

}

nav {
    background: var(--cor5);
    padding: 10px;/* acolchoamento do conteudo */
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.267);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none; /* texto original sem decoração */
    font-weight: bold;
}

nav > a:hover {
    /* hover = quando passar o cursor sobre */
    background-color: var(--cor2);/* cor do box */
    border-radius: 5px;
    color: var(--cor5); /* cor da fonte */
    transition-duration: 0.2s; /* tempo de transição o hover */
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px; /* afasta um pouco os blocos */
    background-color: white;
    box-shadow: 0px 0px 10px rgb(65, 64, 64);
    /* bordas inferiores arredondadas apenas */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);  /* degradê para dir, cor para transparente */
    text-indent: 8px;
} 

main p {
    margin: 15px 0px; /* cima/baixo, direita/esquerda */
    text-align: justify;
    text-indent: 30px; /* recuo do paragrafo */
    font-size: 1em;
    line-height: 2em; /* espaço entre linhas */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    /* links dentro do main, em qualquer lugar */
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px; /* img nem muito pequena nem muito grande */
    display: block; /* transforma img em bloco */
    margin: auto; /* centraliza o bloco img */
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    /* ??-2 */
    position: absolute;
    top: 5%; 
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* ?? */
    list-style-position: inside; /* bolinhas lista pra dentro */
    columns: 2; /* 2 colunas */
}

aside > h3 {
    color: white;
    background-color: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0px -10px; /* -10, a margem cresce pra fora(negativa) */
    border-radius: 10px 10px 0px 0px;/* 10px em cima, 0px em baixo */
}

footer {
    text-align: center;
    font-size: 0.8em;
    background-color: var(--cor5);
    color: white;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

/*
    ?? = O codigo do emoji vem do site emojipedia. 
    O codigo '\00A0' representa um (1) espaço entre o emoji e o texto.
*/

/* 
    ??-2 = configurações para tornar videos responsivos:
   -position: absolute = absoluta em relação a div.
   -top: distancia do topo do video ao topo da div.
   -left: distancia esquerda do video para a esq da div.
   -widht: quantidade do lado da div a ser ocupada.
   -height: altura da div a ser ocupada.

*/